@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

@orange:#E95A2D;

#kariboo-modal{
  .modal-body{
    background-color: #F9F9F9;
    font-family: 'Open Sans', sans-serif;
    
    img{
      max-width: 100%;
      border:1px solid #999999;
      margin-bottom: 10px;
    }
  }
}

.modal{
  .modal-body{
    font-family: 'Open Sans', sans-serif;
    p{
      margin: 10px;
      color: #565656;
      line-height: 20px;

      &.center{
        text-align: center;
      }
    }
    .orange{
      color: @orange;
    }
  }
}

#feux-modal{
  .submit{
    width: 49%;
    display: inline-block;
    text-decoration: none;
  }
}
.imgTech{
  /*&.mobile-yummy{
    background-image:url('../images/mobile-yummy.png');
  }
  &.city-dashboard{
    background-image:url('../images/city-bg.png');
  }&.kariboo{
    background-image:url('../images/kariboo-bg.png');
  }&.feux-vert{
    background-image:url('../images/feux-bg.png');
  }&.palm{
    background-image:url('../images/palm-bg.png');
  }&.semaine-digitale{
    background-image:url('../images/semaine-bg.png');
  }&.daubert{
    background-image:url('../images/daubert-bg.png');
  }&.ipassemploi{
    background-image:url('../images/ipassemploi-bg.png');
  }*/

  /*
  &.class{
    background-image:url('../images/logos/');
  }
   */

  &.angular{
    background-image:url('../images/logos/angular-logo.png');
  }
  &.node{
    background-image:url('../images/logos/node-logo.png');
  }
  &.grunt{
    background-image:url('../images/logos/grunt-logo.png');
  }
  &.express{
    background-image:url('../images/logos/express-logo.png');
  }
  &.sails{
    background-image:url('../images/logos/sails-logo.png');
  }
  &.totaljs{
    background-image:url('../images/logos/totaljs-logo.png');
  }
  &.kraken{
    background-image:url('../images/logos/kraken-logo.png');
  }
  &.backbone{
    background-image:url('../images/logos/backbone-logo.png');
  }
  &.cordova{
    background-image:url('../images/logos/cordova-logo.png');
  }
  &.karma{
    background-image:url('../images/logos/karma-logo.png');
  }
  &.jquery{
    background-image:url('../images/logos/jquery-logo.png');
  }
  &.require{
    background-image:url('../images/logos/require-logo.png');
  }
  &.yeoman{
    background-image:url('../images/logos/yeoman-logo.png');
  }
  &.ionic{
    background-image:url('../images/logos/ionic-logo.png');
  }
  &.lodash{
    background-image:url('../images/logos/lodash-logo.png');
  }
  &.socket-io{
    background-image:url('../images/logos/socketio-logo.png');
  }
  &.d3{
    background-image:url('../images/logos/d3-logo.png');
  }
  &.bower{
    background-image:url('../images/logos/bower-logo.png');
  }
  &.mongo{
    background-image:url('../images/logos/mongo-logo.png');
  }
  &.mysql{
    background-image:url('../images/logos/mysql-logo.png');
  }
  &.redis{
    background-image:url('../images/logos/redis-logo.png');
  }
  &.solr{
    background-image:url('../images/logos/solr-logo.png');
  }
  &.php{
    background-image:url('../images/logos/php-logo.png');
  }
  &.codeigniter{
    background-image:url('../images/logos/codeigniter-logo.png');
  }
  &.symfony{
    background-image:url('../images/logos/symfony-logo.png');
  }
  &.zend{
    background-image:url('../images/logos/zend-logo.png');
  }
  &.prosody{
    background-image:url('../images/logos/prosody-logo.png');
  }
  &.xmpp{
    background-image:url('../images/logos/xmpp-logo.png');
  }
  &.ruby{
    background-image:url('../images/logos/ruby-logo.png');
  }
  &.new-relic{
    background-image:url('../images/logos/newrelic-logo.png');
  }
  &.heroku{
    background-image:url('../images/logos/heroku-logo.png');
  }
  &.html5{
    background-image:url('../images/logos/html5-logo.png');
  }
  &.css3{
    background-image:url('../images/logos/css3-logo.png');
  }
}
#mobiles-yummy-modal{
  .submit{
    width: 32%;
    display: inline-block;
    text-decoration: none;
  }
}