//out: ../css/styles.css
ul,li,ol{
  list-style: disc;
}
body {
  overflow-x:hidden;
  height: auto;
  width: 100%;

  &.modal-open{
    height: 100%;
  }
}

@orange:#E95A2D;
@grey:#F7F7F7;
@projectW:132px;
@projectH:150px;

.cursor{
  cursor: pointer;
}
#line{
  position:relative;
  top:0;
  height:9px;
  width:0;
  background:@orange;
  left:0;
  -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}



#home{
  width: 100%;
  overflow: hidden;
  position: relative;

  .borderBottom{
    width: 50%;
    left: 7px;
    height: 9px;
    bottom: 0px;
    background-color: #e95a2d;
    position: absolute;
  }

  #mask{
    position:relative;
    top:0px;
    height:4000px;
    background:#ffffff;
    left:0;
    -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  }

  object{
    position: absolute;
    left: 34%;
    top: -116px;
    width: 500px;
    height: 150px;
  }

  .line
  {
    position:absolute;
    top:0;
    height:2px;
    width:0;
    background:@orange;
    left:0;
    -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  }

  .scroll{
    background: url('../images/arrow-intro.svg') no-repeat 50%;
    background-color: @orange;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 49%;
    top:80%;
    position: absolute;
    -webkit-transition: top 1s ease, -webkit-transform 1s ease;
    -moz-transition: top 1s ease, -moz-transform 1s ease;
    -ms-transition: top 1s ease, -ms-transform 1s ease;
    -o-transition: top 1s ease, -o-transform 1s ease;
    transition: top 1s ease, transform 1s ease;
    z-index: 1;

    &.top{
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);

    }

    &:hover{
      background: url('../images/arrow-intro_o.svg') no-repeat 50%;
      border: 1px solid @orange;
      background-color: #FFFFFF;
    }
  }
}


.nav-link{
  background-image: url('../images/sprite-rs.svg');
  width: 36px;
  height: 35px;
  display: inline-block;
}

.socials{
  display: inline-block;
  width: 40px;
  position: fixed;
  right: 0px;
  a{
    .nav-link;
  }

}

.facebook{
  background-position: 0px top;
  &:hover
  {
    background-position:0px bottom;
  }
}
.twitter{
  background-position: -38px top;
  &:hover
  {
    background-position:-38px bottom;
  }
}
.linkedin{
  background-position: -112px top;
  &:hover
  {
    background-position:-112px bottom;
  }
}
.github{
  background-position: -75px top;
  &:hover
  {
    background-position:-75px bottom;
  }
}
.cv{
  background-position: -148px top;
  &:hover
  {
    background-position:-148px bottom;
  }
}
.coderbits{
  background-position: -186px top;
  &:hover
  {
    background-position:-186px bottom;
  }
}
.home{
  background-position: -261px top;
  &:hover
  {
    background-position: -261px bottom;
  }
}
.projects{
  background-position: -299px top;
  &:hover
  {
    background-position:-299px bottom;
  }
}
.love{
  background-position: -224px top;
  &:hover
  {
    background-position:-224px bottom;
  }
}

#projects{
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid #eeeeee;

  .wrapper{
    padding: 40px 20px;
    width: 904px;
    margin: 0 auto;
  }

  .imgProject{
    width: @projectW;
    height: @projectH;
    background-size: 100% auto;
  }

  .project{
    
    width: @projectW;
    height: @projectH;
    margin: 0px 6px;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    position: relative;
    transition: all .2s;

    &.odd{
      left:(@projectW/2)+6;
    }

    .back{
      background: url('../images/projectbg.svg') no-repeat;
      background-size: 100% auto;
    }

    &.active{
      background: url('../images/projectbg_hover.svg') no-repeat;
      .Title{
        color: @orange;
      }
    }

    .linkProject{
      height: 160px;
      text-decoration: none;
      display: block;
      position: absolute;
      top: 169px;
      width: 100%;
      left: 92px;
      z-index: 1;
    }

    .Title{
      font-family: 'Open Sans';
      color: #FFFFFF;
      text-align: center;
      font-size: 20px;
    }

    .desc{
      height: 20px;
      font-family: 'Open Sans', sans-serif;
      color: #333333;
      margin-top: 15px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      padding: 0 5px;
    }

  }
}


.modal{
  .modal-content{
    border: 1px solid #dedede;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #FFF;
  }

  input{
    margin-bottom: 15px;
  }

  .modal-header{
    border-bottom: 1px solid #f6f6f6;
    text-align: center;
    padding:30px 0px 25px 0px;
  }

  .modal-body{
    padding: 30px 25px;
    overflow-x: hidden;
  }

  h1{
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #565656;
    margin-top: 25px;
  }
}

.submit{
  width: 100%;
  background-color: @orange;
  color: #FFF;
  font: 15px 'Oxygen', sans-serif;
  font-weight: 700;
  border:none;
  -webkit-appearance:none;
  padding: 14px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 10px;
  text-align: center;
  z-index: 2;

  &:hover{
    background-color: #db542b;
  }
}

nav{
  position: fixed;
  left: 0px;
  width: 40px;
  display: inline-block;
  ul{
    list-style-type: none;
    padding: 0;
  }
  li{
    a{
      .nav-link;
    }
  }
}

/** FLIP **/

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: @projectW;
  height: @projectH;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  transform-style:preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}