//out: ../css/styles.css

.nav-link{
  background-image: url('../images/sprite-rs.svg');
  width: 36px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
}

.socials{
  display: inline-block;
  width: 40px;
  position: fixed;
  right: 0px;
  a{
    .nav-link;
  }

}

.facebook{
  background-position: 0px top;
  &:hover
  {
    background-position:0px bottom;
  }
}
.twitter{
  background-position: -38px top;
  &:hover
  {
    background-position:-38px bottom;
  }
}
.linkedin{
  background-position: -112px top;
  &:hover
  {
    background-position:-112px bottom;
  }
}
.github{
  background-position: -75px top;
  &:hover
  {
    background-position:-75px bottom;
  }
}
.cv{
  background-position: -148px top;
  &:hover
  {
    background-position:-148px bottom;
  }
}
.coderbits{
  background-position: -186px top;
  &:hover
  {
    background-position:-186px bottom;
  }
}
.home{
  background-position: -261px top;
  &:hover
  {
    background-position: -261px bottom;
  }
}
.technos{
  background-position: -224px top;
  &:hover
  {
    background-position:-224px bottom;
  }
}
.projets{
  background-position: -299px top;
  &:hover
  {
    background-position:-299px bottom;
  }
}
.fr{
  background-position: -335px bottom;
}
.en{
  background-position: -373px bottom;
}



.submit{
  width: 100%;
  background-color: @orange;
  color: #FFF;
  font: 15px 'Oxygen', sans-serif;
  font-weight: 700;
  border:none;
  -webkit-appearance:none;
  padding: 14px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 10px;
  text-align: center;
  z-index: 2;

  &:hover{
    background-color: #db542b;
  }
}

nav{
  position: fixed;
  left: 0px;
  width: 40px;
  display: inline-block;
  ul{
    list-style-type: none;
    padding: 0;
  }
  li{
    a{
      .nav-link;
    }
  }
}



