@import '../nav/nav';

.socials{
  display: inline-block;
  width: 40px;
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  a {
    @extend .nav-link;
  }
}

.facebook{
  background-position: 0px top;
  &:hover
  {
    background-position:0px bottom;
  }
}
.twitter{
  background-position: -38px top;
  &:hover
  {
    background-position:-38px bottom;
  }
}
.linkedin{
  background-position: -112px top;
  &:hover
  {
    background-position:-112px bottom;
  }
}
.github{
  background-position: -75px top;
  &:hover
  {
    background-position:-75px bottom;
  }
}
.cv{
  background-position: -149px top;
  &:hover
  {
    background-position:-148px bottom;
  }
}
.coderbits{
  background-position: -186px top;
  &:hover
  {
    background-position:-186px bottom;
  }
}

@media screen and (max-width:800px) {
  .socials{
    top:0;
    width: 201px;
    margin: 40px auto 30px;
    position:inherit;
    display: flex;
    justify-content: space-between;
  }
}
