<div class="techno_desktop">
    <div class="flip-container" [ngClass]="{hover: onTouch}" (ontouchstart)="onTouch = !onTouch;">
        <div class="flipper">
            <div class="front">
                <div class="imgTech" [ngClass]="techno.CSSClass"></div>
            </div>
            <div class="back">
                <div class="title">{{techno.title}}</div>
                <div class="desc">
                    {{techno.description}}
                </div>
            </div>
        </div>
    </div>
</div>
