<div id="line">
  <object data="images/logo.svg" id="logo" type="image/svg+xml"></object>
</div>
<div id="mask"></div>
<div class="scroll cursor"></div>
<div class="borderBottom ng-scope">
  <!-- <div class="comble" style="
    background-color: #e95a2d;
    width: 23px;
    height: 15px;
    position: absolute;
    left: 27px;
    top: -15px;">
    <div class="mask" style="
    background-color: #e95a2d;
    width: 20px;
    height: 10px;
    top: 8px;
    position: relative;
    left: -10px;"></div>
  </div>
  
  <div class="tournant" style="
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    left: 41px;
    top: -15px;"></div>
  <div class="borderRadius" style="
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #e95a2d;
    position: absolute;
    left: 98.8%;
    z-index: 2;
    bottom: -11px;"></div> --></div>
<script type="text/javascript" src="scripts/line.js"></script>