<nav>
  <ul>
    <li><a href="#" data-key="HOME" [title]="'HOME' | translate" data-toggle="tooltip" data-placement="right" class="nav-link home" (click)="moveTo($event, 'home')"></a></li>
    <li><a href="#" data-key="PROJECTS" [title]="'PROJECTS' | translate" data-toggle="tooltip" data-placement="right" class="nav-link projets" (click)="moveTo($event, 'projects')"></a></li>
    <li><a href="#" data-key="TECHS" [title]="'TECHS' | translate" data-toggle="tooltip" data-placement="right" class="nav-link technos" (click)="moveTo($event, 'techs')"></a></li>
    <li><div class="nav-link fr" [style.display]="isNavLangHidden('fr')?'none':'inherit'" (click)="changeLang('fr')"></div></li>
    <li><div class="nav-link en" [style.display]="isNavLangHidden('en')?'none':'inherit'" (click)="changeLang('en')"></div></li>
  </ul>
</nav>
<app-socials></app-socials>
