@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600,700,800|Oxygen:400,300,700);

$orange:#E95A2D;
$grey:#F7F7F7;
$techW:132px;
$techH:150px;
$oxygen:'Oxygen', sans-serif;
$open:'Open Sans', sans-serif;
