@import '../variables';

.borderBottom{
  width: 50%;
  left: 7px;
  height: 9px;
  bottom: 0px;
  background-color: #e95a2d;
  position: absolute;
}

#mask{
  position:relative;
  top:0px;
  height:4000px;
  background:#ffffff;
  left:0;
  -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

object{
  position: absolute;
  left: 34%;
  top: -116px;
  width: 500px;
  height: 150px;
}

.line
{
  position:absolute;
  top:0;
  height:2px;
  width:0;
  background:$orange;
  left:0;
  -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.scroll{
  background: url('/images/arrow-intro.svg') no-repeat 50%;
  background-color: $orange;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 49%;
  top:80%;
  position: absolute;
  -webkit-transition: top 1s ease, -webkit-transform 1s ease;
  -moz-transition: top 1s ease, -moz-transform 1s ease;
  -ms-transition: top 1s ease, -ms-transform 1s ease;
  -o-transition: top 1s ease, -o-transform 1s ease;
  transition: top 1s ease, transform 1s ease;
  z-index: 1;

  &.top{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

  }

  &:hover{
    background: url('/images/arrow-intro_o.svg') no-repeat 50%;
    border: 1px solid $orange;
    background-color: #FFFFFF;
  }
}
