<div class="timeline-badge primary"><i class="ion-ios-radio-button-on"></i></div>
<div class="timeline-panel">
  <div class="timeline-heading">
    <img class="img-responsive" [src]="'assets/images/projects/' + project.image" />
  </div>
  <div class="timeline-body">
    <h3>{{project.title | multiLang}}</h3>
    <app-project-description [description]="project.description"></app-project-description>
    <div class="links" *ngIf="project.urls.length > 0">
      <hr>
      <a [href]="url.url" *ngFor="let url of project.urls" target="_blank">
        {{url.copy | multiLang}}
        <i class="ion-ios-log-out"></i>
        <div class="clear"></div>
      </a>
    </div>
  </div>
</div>
