extends:
 - eslint:recommended
parserOptions:
  ecmaVersion: "2017"
  sourceType: "module"
  ecmaFeatures:
    jsx: true
plugins:
  - react
settings:
  react:
    pragma: "h"
env:
  es6: true
  node: true
  browser: true
rules:
  indent: ["error", 2]
  no-unused-vars: [1, { varsIgnorePattern: "^h$" }]
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
