<div line id="home"></div>
<div ng-include="'views/timeline.html'"></div>
<div id="technos" ng-controller="TechCtrl">

  <div class="wrapper">
    <div class="filters">
      <span class="js" ng-click="techFilter($event)">javascript</span> / 
      <span class="dev" ng-click="techFilter($event)">dévelopement</span> / 
      <span class="data" ng-click="techFilter($event)">données</span> / 
      <span class="inte" ng-click="techFilter($event)">intégration</span>
    </div>
    <div id="tech-{{$index}}" tech class="tech" ng-class="(tech.disabled === true) ? 'disabled' : ''" ng-repeat="tech in technos"></div>
  </div>
</div>
<!-- <div id="love"></div> -->
<div class="socials">
  <a href="https://www.facebook.com/asavignac1" class="nav-link facebook" target="_blank"></a>
  <a href="https://twitter.com/AntoineSavignac" class="nav-link twitter" target="_blank"></a>
  <a href="https://github.com/Nighthawk14" class="nav-link github" target="_blank"></a>
  <a href="http://fr.linkedin.com/pub/antoine-savignac/3b/884/613/" class="nav-link linkedin" target="_blank"></a>
  <a href="https://coderbits.com/NightHawk" class="nav-link coderbits" target="_blank"></a>
  <a href="cv-antoine_savignac.pdf" class="nav-link cv" target="_blank"></a>
</div>
<div nav></div>
<div ng-include="'partials/modals.html'" ></div>
<script type="text/javascript" src="scripts/scripts.js"></script>