.nav-link{
  background-image: url('/assets/images/sprite-rs.svg');
  width: 37px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

nav{
  position: fixed;
  left: 10px;
  width: 40px;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  ul{
    list-style-type: none;
    padding: 0;
  }
  li{
    a{
      @extend .nav-link;
    }
  }
}

.home{
  background-position: -261px top;
  &:hover
  {
    background-position: -261px bottom;
  }
}
.technos{
  background-position: -224px top;
  &:hover
  {
    background-position:-224px bottom;
  }
}
.projects{
  background-position: -299px top;
  &:hover
  {
    background-position:-299px bottom;
  }
}
.fr{
  background-position: -336px bottom;
}
.en{
  background-position: -373px bottom;
}

#logo {
  margin-top: 50px;
  object {
    margin: 0 auto;
    display: block;
  }
}

@media screen and (min-width: 800px) {
  #logo {
    display: none;
  }
  nav {
    display: inline-block;
  }
}
