<nav>
  <ul>
    <li>
      <app-link-tooltip class="nav-link home" [title]="'HOME'" (onClicked)="moveTo($event, 'home')"></app-link-tooltip>
    </li>
    <li>
      <app-link-tooltip class="nav-link projects" [title]="'PROJECTS'" (onClicked)="moveTo($event, 'projects')"></app-link-tooltip>
    </li>
    <li>
      <app-link-tooltip class="nav-link technos" [title]="'TECHS'" (onClicked)="moveTo($event, 'techs')"></app-link-tooltip>
    </li>
    <li><div class="nav-link fr" [style.display]="isNavLangHidden('fr')?'none':'inherit'" (click)="changeLang('fr')"></div></li>
    <li><div class="nav-link en" [style.display]="isNavLangHidden('en')?'none':'inherit'" (click)="changeLang('en')"></div></li>
  </ul>
</nav>
<div id="logo">
  <object data="/assets/images/logo-mobile.svg" type="image/svg+xml"></object>
</div>
<app-socials></app-socials>
